

// div{background-color: lightgrey;
// border:grey 1px solid;}




// .topetsy{font-size:15pt;

// }		

// .etsylogo{font-size:14pt;
// 	color:rgb(244,88,0);background-color: lightgrey;border:grey 1px solid;
// 	font-family: 'Domine', serif;
// }



// ///THIS IS THE SEARCH BUTTON///
// input{  margin: -2px;
//     padding-right: 10px;
//     left: 106px;
//     position: relative;
//     bottom: 28px;
//     padding-left: 1px;
//     width: 301px;
//     bottom: 14px;
// }

// .button{
// 		width: 63px;
// }
// ////THIS IS THE 2ND NAV BAR AT THE TOP/////////
// .topetsy2{border:grey 1px solid;
// 	margin:17px;
// 	font-size:9pt;
// // LINKS FOR TOP NAV///
// }

// 			.links1{margin:0;
// 				padding-left:0;

// 			}

// 			.links2{margin:0;
// 				padding-left:0;

// 			}
// 			.links3{margin:0;
// 				padding-left:0;

// 			}
// 			.links4{margin:0;
// 				padding-left:0;

// 			}
// 			.links5{margin:0;
// 				padding-left:0;

// 			}
// 			.links6{margin:0;
// 				padding-left:0;

// 			}
// 			.links7{margin:0;
// 				padding-left:0;

// 			}
// 			.links8{margin:0;
// 				padding-left:0;

// 			}

// ///////////////////////////////////
// ///////THIS IS THE BODY////////////
// .maincontainer{width:100%;
// background-color: lightgrey;border:grey 1px solid;}


// ///////////////////////////////////


// //////////LEFT SIDE NAV BAR////////

// #navboxleft{
// 	height:200px;
// 	width:200px;
// 	list-style:none;
// 	background-color:lightgrey;



//     font-size: 17px;
//     text-decoration: none;
//     list-style: none;
// }



